beautifulsoup4==4.12.2
bs4==0.0.1
category-encoders==2.6.3
chromedriver-binary==119.0.6045.105.0
factor-analyzer==0.5.0
html5lib==1.1
identify==2.5.30
idna==3.4
imblearn==0.0
Janome==0.5.0
japanize-matplotlib==1.1.3
Jinja2==3.1.2
joblib==1.3.2
lightgbm==4.1.0
matplotlib==3.8.0
mecab-python3==1.0.8
mlxtend==0.23.0
mojimoji==0.0.12
optuna==3.3.0
pandas==2.1.2
Pillow==10.0.1
pingouin==0.5.3
plotly==5.17.0
prince==0.6.2
pyarrow==13.0.0
python-json-logger==2.0.7
python-slugify==8.0.1
python-socks==2.4.3
requests==2.31.0
requests-oauthlib==1.3.1
retrying==1.3.4
scikit-learn==1.3.0
scipy==1.11.2
seaborn==0.13.0
seaborn-analyzer==0.3.5
selenium==4.15.2
shap==0.44.0
statsmodels==0.14.0
sympy==1.12
tqdm==4.66.1
yellowbrick==1.5
kmodes==0.12.2
gower==0.1.2
silhouette==0.0.1a0
umap-learn==0.5.5
