# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64
absl-py=1.4.0=pypi_0
aiodns=3.1.1=pypi_0
aiohttp=3.8.6=pypi_0
aiohttp-socks=0.8.4=pypi_0
aiosignal=1.3.1=pypi_0
alembic=1.12.0=pypi_0
ansi2html=1.8.0=pypi_0
anyio=4.0.0=pypi_0
appnope=0.1.3=pyhd8ed1ab_0
arch=6.2.0=pypi_0
argon2-cffi=23.1.0=pypi_0
argon2-cffi-bindings=21.2.0=pypi_0
array-record=0.4.1=pypi_0
arrow=1.2.3=pypi_0
asttokens=2.4.0=pyhd8ed1ab_0
astunparse=1.6.3=pypi_0
async-lru=2.0.4=pypi_0
async-timeout=4.0.3=pypi_0
attrs=23.1.0=pypi_0
babel=2.12.1=pypi_0
backcall=0.2.0=pyh9f0ad1d_0
backports=1.0=pyhd8ed1ab_3
backports.functools_lru_cache=1.6.5=pyhd8ed1ab_0
beautifulsoup4=4.12.2=pypi_0
bleach=6.0.0=pypi_0
bs4=0.0.1=pypi_0
bzip2=1.0.8=h3422bc3_4
ca-certificates=2023.7.22=hf0a4a13_0
cachetools=5.3.1=pypi_0
category-encoders=2.6.3=pypi_0
cchardet=2.1.7=pypi_0
certifi=2023.7.22=pypi_0
cffi=1.15.1=pypi_0
cfgv=3.4.0=pypi_0
charset-normalizer=3.2.0=pypi_0
chromedriver-binary=119.0.6045.105.0=pypi_0
click=8.1.7=pypi_0
cloudpickle=3.0.0=pypi_0
cmaes=0.10.0=pypi_0
colorlog=6.7.0=pypi_0
comm=0.1.4=pyhd8ed1ab_0
contourpy=1.1.1=pypi_0
cramjam=2.7.0=pypi_0
cycler=0.11.0=pypi_0
dash=2.14.0=pypi_0
dash-bootstrap-components=1.5.0=pypi_0
dash-core-components=2.0.0=pypi_0
dash-html-components=2.0.0=pypi_0
dash-table=5.0.0=pypi_0
debugpy=1.8.0=py310h1253130_0
decorator=5.1.1=pyhd8ed1ab_0
defusedxml=0.7.1=pypi_0
distlib=0.3.7=pypi_0
dm-tree=0.1.8=pypi_0
elastic-transport=8.10.0=pypi_0
elasticsearch=8.10.1=pypi_0
etils=1.4.1=pypi_0
exceptiongroup=1.1.3=pyhd8ed1ab_0
executing=1.2.0=pyhd8ed1ab_0
factor-analyzer=0.5.0=pypi_0
fake-useragent=1.3.0=pypi_0
fastjsonschema=2.18.0=pypi_0
fastparquet=2023.8.0=pypi_0
filelock=3.12.4=pypi_0
flask=2.2.5=pypi_0
flatbuffers=23.5.26=pypi_0
fonttools=4.42.1=pypi_0
fqdn=1.5.1=pypi_0
frozenlist=1.4.0=pypi_0
fsspec=2023.9.2=pypi_0
gast=0.4.0=pypi_0
gensim=4.3.2=pypi_0
geographiclib=2.0=pypi_0
geopy=2.4.0=pypi_0
google-auth=2.23.0=pypi_0
google-auth-oauthlib=1.0.0=pypi_0
google-pasta=0.2.0=pypi_0
googleapis-common-protos=1.60.0=pypi_0
googletransx=2.4.2=pypi_0
grpcio=1.58.0=pypi_0
h11=0.14.0=pypi_0
h5py=3.9.0=pypi_0
html5lib=1.1=pypi_0
identify=2.5.30=pypi_0
idna=3.4=pypi_0
imbalanced-learn=0.11.0=pypi_0
imblearn=0.0=pypi_0
importlib-metadata=6.8.0=pyha770c72_0
importlib-resources=6.0.1=pypi_0
importlib_metadata=6.8.0=hd8ed1ab_0
ipykernel=6.25.2=pyh1050b4e_0
ipython=8.15.0=pyh31c8845_0
ipywidgets=8.1.1=pypi_0
isoduration=20.11.0=pypi_0
itsdangerous=2.1.2=pypi_0
janome=0.5.0=pypi_0
japanize-matplotlib=1.1.3=pypi_0
jedi=0.19.0=pyhd8ed1ab_0
jinja2=3.1.2=pypi_0
joblib=1.3.2=pypi_0
json5=0.9.14=pypi_0
jsonpointer=2.4=pypi_0
jsonschema=4.19.1=pypi_0
jsonschema-specifications=2023.7.1=pypi_0
jupyter-events=0.7.0=pypi_0
jupyter-lsp=2.2.0=pypi_0
jupyter-server=2.7.3=pypi_0
jupyter-server-terminals=0.4.4=pypi_0
jupyter_client=8.3.1=pyhd8ed1ab_0
jupyter_core=5.3.1=py310hbe9552e_0
jupyterlab=4.0.6=pypi_0
jupyterlab-pygments=0.2.2=pypi_0
jupyterlab-server=2.25.0=pypi_0
jupyterlab-widgets=3.0.9=pypi_0
kaggle=1.5.16=pypi_0
keras=2.13.1=pypi_0
kiwisolver=1.4.5=pypi_0
libclang=16.0.6=pypi_0
libcxx=16.0.6=h4653b0c_0
libffi=3.4.2=h3422bc3_5
libsodium=1.0.18=h27ca646_1
libsqlite=3.43.0=hb31c410_0
libzlib=1.2.13=h53f4e23_5
lightgbm=4.1.0=pypi_0
littleutils=0.2.2=pypi_0
llvmlite=0.41.1=pypi_0
lxml=4.9.3=pypi_0
mako=1.2.4=pypi_0
markdown=3.4.4=pypi_0
markupsafe=2.1.3=pypi_0
matplotlib=3.8.0=pypi_0
matplotlib-inline=0.1.6=pyhd8ed1ab_0
mca=1.0.3=pypi_0
mecab-python3=1.0.8=pypi_0
mistune=3.0.1=pypi_0
mlxtend=0.23.0=pypi_0
mojimoji=0.0.12=pypi_0
mpmath=1.3.0=pypi_0
multidict=6.0.4=pypi_0
munkres=1.1.4=pypi_0
nbclient=0.8.0=pypi_0
nbconvert=7.8.0=pypi_0
nbformat=5.9.2=pypi_0
ncurses=6.4=h7ea286d_0
nest-asyncio=1.5.6=pyhd8ed1ab_0
networkx=3.2.1=pypi_0
nlplot=1.6.0=pypi_0
nltk=3.8.1=pypi_0
nodeenv=1.8.0=pypi_0
notebook-shim=0.2.3=pypi_0
np=1.0.2=pypi_0
numba=0.58.1=pypi_0
numdifftools=0.9.41=pypi_0
numpy=1.24.3=pypi_0
oauthlib=3.2.2=pypi_0
openssl=3.1.2=h53f4e23_0
opt-einsum=3.3.0=pypi_0
optuna=3.3.0=pypi_0
outcome=1.3.0.post0=pypi_0
outdated=0.2.2=pypi_0
overrides=7.4.0=pypi_0
packaging=23.1=pyhd8ed1ab_0
pandas=2.1.2=pypi_0
pandas-flavor=0.6.0=pypi_0
pandocfilters=1.5.0=pypi_0
parso=0.8.3=pyhd8ed1ab_0
patsy=0.5.3=pypi_0
pexpect=4.8.0=pyh1a96a4e_2
pickleshare=0.7.5=py_1003
pillow=10.0.1=pypi_0
pingouin=0.5.3=pypi_0
pip=23.2.1=pyhd8ed1ab_0
platformdirs=3.10.0=pyhd8ed1ab_0
plotly=5.17.0=pypi_0
pre-commit=3.4.0=pypi_0
prince=0.6.2=pypi_0
prometheus-client=0.17.1=pypi_0
promise=2.3=pypi_0
prompt-toolkit=3.0.39=pyha770c72_0
prompt_toolkit=3.0.39=hd8ed1ab_0
protobuf=3.20.3=pypi_0
psutil=5.9.5=py310h8e9501a_0
ptyprocess=0.7.0=pyhd3deb0d_0
pure_eval=0.2.2=pyhd8ed1ab_0
pyarrow=13.0.0=pypi_0
pyasn1=0.5.0=pypi_0
pyasn1-modules=0.3.0=pypi_0
pycares=4.4.0=pypi_0
pycparser=2.21=pypi_0
pydataset=0.2.0=pypi_0
pygments=2.16.1=pyhd8ed1ab_0
pyparsing=3.1.1=pypi_0
pysocks=1.7.1=pypi_0
python=3.10.12=h01493a6_0_cpython
python-dateutil=2.8.2=pyhd8ed1ab_0
python-graphviz=0.20.1=pypi_0
python-json-logger=2.0.7=pypi_0
python-slugify=8.0.1=pypi_0
python-socks=2.4.3=pypi_0
python_abi=3.10=3_cp310
pytz=2023.3.post1=pypi_0
pyyaml=6.0.1=pypi_0
pyzmq=25.1.1=py310h30b7201_0
rdata=0.10.0=pypi_0
readline=8.2=h92ec313_1
referencing=0.30.2=pypi_0
regex=2023.10.3=pypi_0
requests=2.31.0=pypi_0
requests-oauthlib=1.3.1=pypi_0
retrying=1.3.4=pypi_0
rfc3339-validator=0.1.4=pypi_0
rfc3986-validator=0.1.1=pypi_0
rpds-py=0.10.3=pypi_0
rpy2=3.5.14=pypi_0
rsa=4.9=pypi_0
schedule=1.2.1=pypi_0
scikit-learn=1.3.0=pypi_0
scipy=1.11.2=pypi_0
seaborn=0.13.0=pypi_0
seaborn-analyzer=0.3.5=pypi_0
selenium=4.15.2=pypi_0
semopy=2.3.10=pypi_0
send2trash=1.8.2=pypi_0
setuptools=68.2.2=pyhd8ed1ab_0
shap=0.44.0=pypi_0
six=1.16.0=pyh6c4a22f_0
slicer=0.0.7=pypi_0
smart-open=6.4.0=pypi_0
sniffio=1.3.0=pypi_0
sortedcontainers=2.4.0=pypi_0
soupsieve=2.5=pypi_0
sqlalchemy=2.0.21=pypi_0
stack_data=0.6.2=pyhd8ed1ab_0
statsmodels=0.14.0=pypi_0
sympy=1.12=pypi_0
tabulate=0.9.0=pypi_0
tenacity=8.2.3=pypi_0
tensorboard=2.13.0=pypi_0
tensorboard-data-server=0.7.1=pypi_0
tensorflow=2.13.0=pypi_0
tensorflow-datasets=4.9.3=pypi_0
tensorflow-estimator=2.13.0=pypi_0
tensorflow-macos=2.13.0=pypi_0
tensorflow-metadata=1.14.0=pypi_0
termcolor=2.3.0=pypi_0
terminado=0.17.1=pypi_0
text-unidecode=1.3=pypi_0
threadpoolctl=3.2.0=pypi_0
tinycss2=1.2.1=pypi_0
tk=8.6.12=he1e0b03_0
toml=0.10.2=pypi_0
tomli=2.0.1=pypi_0
tor-python-easy=0.1.7=pypi_0
tornado=6.3.3=py310h2aa6e3c_0
tqdm=4.66.1=pypi_0
traitlets=5.10.0=pyhd8ed1ab_0
trio=0.23.1=pypi_0
trio-websocket=0.11.1=pypi_0
typing-extensions=4.5.0=pypi_0
tzdata=2023.3=pypi_0
tzlocal=5.2=pypi_0
ucimlrepo=0.0.2=pypi_0
unidic-lite=1.0.8=pypi_0
uri-template=1.3.0=pypi_0
urllib3=1.26.16=pypi_0
virtualenv=20.24.5=pypi_0
wcwidth=0.2.6=pyhd8ed1ab_0
webcolors=1.13=pypi_0
webencodings=0.5.1=pypi_0
websocket-client=1.6.3=pypi_0
werkzeug=2.2.3=pypi_0
wheel=0.41.2=pyhd8ed1ab_0
widgetsnbextension=4.0.9=pypi_0
wordcloud=1.9.2=pypi_0
wrapt=1.15.0=pypi_0
wsproto=1.2.0=pypi_0
xarray=2023.8.0=pypi_0
xz=5.2.6=h57fd34a_0
yarl=1.9.2=pypi_0
yellowbrick=1.5=pypi_0
zeromq=4.3.4=hbdafb3b_1
zipp=3.16.2=pyhd8ed1ab_0
